/MascotaAPP/nbproject/private/
/MascotaAPP/build/
/Perros/nbproject/private/
/Perros/build/
/Razas/nbproject/private/
/Razas/build/
/AlumnosApp/nbproject/private/
/AlumnosApp/build/
/CineApp/nbproject/private/
/CineApp/build/
/PaisesApp/nbproject/private/
/PaisesApp/build/
/TiendaApp/nbproject/private/
/TiendaApp/build/
/ValoresEnteros/nbproject/private/
/ValoresEnteros/build/
/CantanteFamoso/nbproject/private/
/CantanteFamoso/build/
/Libreria/nbproject/private/
/Libreria/build/
/CodigosPostales/nbproject/private/
/CodigosPostales/build/