/MascotaAPP/nbproject/private/
/MascotaAPP/build/
/Perros/nbproject/private/
/Perros/build/
/Razas/nbproject/private/
/Razas/build/
/AlumnosApp/nbproject/private/
/AlumnosApp/build/
/CineApp/nbproject/private/
/CineApp/build/